:root {
    --color_white: #FFFFFF;
    /* 초록 */
    --color_green99: #F2FFF6;
    --color_green95: #D9FFE6;
}

html{
    font-size: 10px;
}

body {
    font-family: 'Pretendard';
    font-weight: 400;
}

*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Pretendard';
}

.hide {
    position: absolute; 
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
}

/* 버튼 Button */

/* 인풋 Input(
	3-1.일반 텍스트 입력
	3-2.아이디 입력
	3-3.패스워드 입력
	3-4.검색창
	3-5.라디오 버튼
	3-6.체크박스
	3-7.파일 업로드(회원가입 하단 의료사업자&의료면허증 참고)
	3-8.이미지 업로드(덴톡 메세지 입력창 좌측 참고)
) */

/* 드롭다운 Select */

/* 데이트피커 Daterangepicker */

/* 모달 Modal */

/* 탭 메뉴 Tab Menu */

/* 치아 Teeth */

/* 페이지네이션 Pagination */

/* 네비게이션 바 Navigation bar */

/* 하단 탭 바 Bottom tab bar */

/* 숫자 카운트(재고관리-재고현황 리스트의 "사용량" 부분 참고) */

/* 테이블 table */

/* 그래프 Graph(재고관리-재고통계 참고) */

/* 리스트 */

/* 프린트 Print */